<html>
	<head>
	<script src ="/javascripts/touchScreenToolkit.js" defer ></script>
	</head>
<body>
<div id='content'>
	<div id="flash_notice"><%= flash[:notice] %></div>
	<%= form_tag :action => "create" %>
	<table>
	<tr><td >First Name </td><td><%= text_field:owner,:first_name,:helptext => "First Name" %></td></tr>
	<tr><td>Last Name</td><td><%= text_field:owner,:last_name,:helptext => "Last Name" %></td></tr>
	<tr><td>Screen Name</td><td><%= text_field:owner,:screen_name,:helptext => "Screen Name" %></td></tr>
	<tr><td><%= submit_tag"Finish" %></td></tr>
	</table>
	</form_tag>
</div>
</body>
</html>
