
<h4> Manage your photos</h4>
<h4> Album Name:<%= @photo_album.name %></h4>
<h4>Unhidden photos :<%= @unhidden_photos.count %></h4>
<h4>Hidden photos :<%= link_to"#{@hidden_photos.count}",:action => "show_hidden"%></h4>
<h4 style="color:green"><%= flash[:notice]%></h4>
<table width="20px">
	<% @unhidden_photos.each do |photo| %>
	<tr>
		<td rowspan="3"><%= image_tag(url_for({:action => "image",:id => photo}),:width => "40%",:height => "40%")%></td>
		<td><%= link_to"Hide",{:action => "hide_picture", :id => photo},:confirm => "Are you sure you want to hide this picture?" %></td>	
	</tr>
	<tr>
		<td><%= link_to"Remove",{:action => "remove_photo", :id => photo},:confirm => "Are you sure you want to delete this picture?" %></td>
	</tr>
	<tr>
		<td>Share</td>
	</tr>
	<tr>
	<td>---------------------------------------------------------------------------------------------------------</td></tr>
<% end %>
</table>
</center>

